/build/DealFork.build/DealFork.pbxindex/cdecls.pbxbtree
/build/DealFork.build/DealFork.pbxindex/decls.pbxbtree
/build/DealFork.build/DealFork.pbxindex/pbxindex.header
/build/DealFork.build/DealFork.pbxindex/refs.pbxbtree
/build/DealFork.build/DealFork.pbxindex/strings.pbxstrings/control
/build/DealFork.build/DealFork.pbxindex/symbols0.pbxsymbols
/build/DealFork.build/Debug-iphonesimulator/DealFork.build/build-state.dat
/build/DealFork.build/Debug-iphonesimulator/DealFork.build/DealFork.dep
/build/Debug-iphonesimulator/DealFork.app.dSYM/Contents/Resources/DWARF/DealFork
/build/Debug-iphonesimulator/DealFork.app/DealFork
/build/Debug-iphonesimulator/DealFork.app/DealViewController.nib